a {
    text-decoration: none;
}

.artist-name{
    text-shadow: -2px 2px 15px white, 
                2px -2px 15px white; 
}

.fan-count-details{
    font-size: 20px;
    color: white;
    text-shadow: -2px 2px 15px black, 
                2px -2px 15px black; 
}

.text-container{
    margin-top: -75px;
    display: flex;
    flex-direction: column;
    color: black;

}

.fan-album-count-container {
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

.basic-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.artist-image {
    height: 300px;
}

.text-container {
    height: 75px;
}

.fan-count, .album-count {
    font-weight: bold;
}

.track-list-container {
    width: 600px;
}

.album-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.single-track-container {
    display: flex;
    background-color: white;
    justify-content: space-between;
    margin: 10px 20px 0px 20px;
    padding: 0px 10px 0px 10px;
    border-radius: 3px;
}

.single-album-container{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    // border-bottom-left-radius: 15px;
    // border-bottom-right-radius: 15px;
    background-color: white;
    width: 230px;
}

.album-image {
    height: 230px;
}

.album-title {
    color: black;
    text-shadow: -2px 2px 15px white, 
                2px -2px 15px white; 
}